header {
    .navbar-expand-lg {
        justify-content: flex-end;
    z-index: 2;
    }

    .navbar-collapse {
        justify-content: flex-end;
    z-index: 2;
    }
    .nav-color {
        background-color: #193724;
    }

    .navbar {
        .container-fluid {
            .navbar-brand {
                .logo-img {
                    width: 150px;
                    padding: 0;

                    &:hover {
                        border: 1px rgba(0, 0, 0, 0.578) solid;
                        border-radius: 5%;
                        box-shadow: 2px 2px rgba(0, 0, 0, 0.584);
                    }
                }
                .navbar-toggler {
                    z-index: 2;
                    }
                  
                  .navbar-brand {
                    z-index: 2;
                }    
            }
            .navbar-collapse {
                        .navbar-nav {
                            .nav-item {
                                &:hover{
                                color: black;
                                border: 1px rgba(0, 0, 0, 0.578) solid;
                                border-radius: 5%;
                                box-shadow: 2px 2px rgba(0, 0, 0, 0.584);

                                .nav-link {
                                    color: #dfdfcecc;
                                    z-index: 2;
                            }
                        }
                    }
                }
            }
        }
    }
}
main {
    .carousel {
        .carousel-inner {
            .carousel-item {
                .w-100 {
                    max-height: 70vh;
                }
            }
        }
    }

    .form-container {
        display: flex;
        padding: 15px;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #dfdfcecc;

            .form-select {
                width: 45%;
                margin: 5px;
                &:hover {
                    background-color: bisque;
                  }
            }

            .form-price {
                width: 91.6%;
                margin: 10px;
            }

            .d-grid {
                .button-search {
                    margin-top: 13px;

                    &:hover {
                        box-shadow: 2px 2px rgba(0, 0, 0, 0.454);
                    }
                }
                .btn-primary {
                    background-color: #193724;
                    border-color: rgba(0, 0, 0, 0.689);
                    font-weight: bold;

                    &:hover {
                        background-color: #193724b8;
                    }

                    &:focus {
                        background-color: #dfdfcecc;
                        color: black;
                        border: 2px black solid;
                        font-weight: bolder;
                        font-size: large;
                    }
                }
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "contacto redes-cont copyright";
    align-items: center;
    grid-area: footer;
    background-color: #193724;

    .contacto {
        grid-area: contacto;
        padding: 15px;
        color: #dfdfcecc;
    }

    .redes-cont {
        grid-area: redes-cont;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 15px;

        img {
            width: 70px;
            padding: 5px;

            &:hover {
                transform: translateY(2px);
            }
        }
    }

    .copyright {
        grid-area: copyright;
        color: #dfdfcecc;
        font-size: 20px;
    }
}